<div class="flex flex-col">
    <p-toast></p-toast>
  <div class="flex justify-between items-center">
    <h2 class="font-bold text-xl">Manage Todos</h2>
    <button
      class="btn btn-icon btn-rounded btn-primary"
      (click)="sidebarVisible = true"
    >
      <i class="ri-add-line ri-lg"></i>
      Add Todo
    </button>
    
  </div>

  <div class="mt-4 inline-flex gap-2">
    <button
      class="btn btn-sm btn-outline-primary"
      [class]="{ 'btn-primary': filterByStatus === '' }"
      (click)="onFilterByStatus('')"
    >
      ALL
    </button>
    <button
      class="btn btn-sm btn-outline-primary"
      [class]="{ 'btn-primary': filterByStatus === 'OPEN' }"
      (click)="onFilterByStatus('OPEN')"
    >
      OPEN
    </button>
    <button
      class="btn btn-sm btn-outline-primary"
      [class]="{ 'btn-primary': filterByStatus === 'PROGRESS' }"
      (click)="onFilterByStatus('PROGRESS')"
    >
      PROGRESS
    </button>
    <button
      class="btn btn-sm btn-outline-primary"
      [class]="{ 'btn-primary': filterByStatus === 'TESTING' }"
      (click)="onFilterByStatus('TESTING')"
    >
      TESTING
    </button>
    <button
      class="btn btn-sm btn-outline-primary"
      [class]="{ 'btn-primary': filterByStatus === 'DONE' }"
      (click)="onFilterByStatus('DONE')"
    >
      DONE
    </button>
  </div>

  <div class="mt-3 bg-white shadow">
    <div>
      @for (todo of (todos$ | async); track todo.name) {
      <app-todo-card
        [type]="todo.status"
        [todo]="todo"
        (click)="onLoadTodoForm(todo)"
      ></app-todo-card>
      }
    </div>
  </div>
</div>
<p-sidebar
      [(visible)]="sidebarVisible"
      position="right"
      styleClass="w-30rem"
    >
      
      <ng-template pTemplate="content">
        <form
          [formGroup]="todoForm"
          (ngSubmit)="onSubmit()"
          autocomplete="off"
          novalidate
        >
          <div class="form-group mb-3">
            <label for="name" class="form-label">Title</label>
            <input
              type="text"
              id="name"
              class="form-control"
              [class]="{
                invalid:
                  todoForm.get('name')?.hasError('required') &&
                  todoForm.get('name')?.touched,
                valid: todoForm.get('name')?.valid
              }"
              placeholder="Name"
              formControlName="name"
            />
            @if (todoForm.get('name')?.hasError('required') &&
            todoForm.get('name')?.touched) {
            <span class="form-error">Name is required.</span>
            }
          </div>
          <div class="form-group mb-3">
            <label for="desc" class="form-label">Description</label>

            <textarea
              name=""
              rows="10"
              class="form-control"
              [class]="{
                invalid:
                  todoForm.get('desc')?.hasError('required') &&
                  todoForm.get('desc')?.touched,
                valid: todoForm.get('desc')?.valid
              }"
              placeholder="Description"
              formControlName="desc"
            ></textarea>
            @if (todoForm.get('desc')?.hasError('required') &&
            todoForm.get('desc')?.touched) {
            <span class="form-error">Description is required.</span>
            }
          </div>
          <div class="form-group mb-3">
            <label for="status" class="form-label">Status</label>
            <select
              class="form-select"
              [class]="{
                invalid:
                  todoForm.get('status')?.hasError('required') &&
                  todoForm.get('status')?.touched,
                valid: todoForm.get('status')?.valid
              }"
              formControlName="status"
            >
              @for (item of todoStatus; track $index) {
              <option [value]="item">{{ item }}</option>
              }
            </select>
            @if (todoForm.get('status')?.hasError('required') &&
            todoForm.get('status')?.touched) {
            <span class="form-error">status is required.</span>
            }
          </div>
          <div class="flex gap-2">
            <button type="submit" class="btn btn-success">Submit</button>
            <button
              type="button"
              class="btn btn-secondary"
              (click)="onCloseSlidePanel()"
            >
              Cancel
            </button>
          </div>
        </form>
      </ng-template>
      
    </p-sidebar>
