<header class="p-6 border-b shadow-lg">
  <div class="container flex items-center justify-between">
    <h4 class="font-bold text-xl">Todo With Firebase</h4>
    <div class="flex gap-3">
    </div>
  </div>
</header>