/* You can add global styles to this file, and also import other style files */


@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    @apply bg-gray-100;
  }
  
  @layer components {
    .btn {
      @apply py-2.5 px-6 rounded-lg;
    }
  
    .btn-sm {
      @apply py-1.5 px-3 text-sm font-medium;
    }
  
    .btn-icon {
      @apply inline-flex items-center gap-2;
    }
  
    .btn-rounded {
      @apply rounded-full;
    }
  
    .btn-outline-primary {
      @apply bg-blue-50 text-blue-600 border border-blue-600 hover:text-white hover:bg-blue-700;
    }
  
    .btn-primary {
      @apply text-white bg-blue-600 hover:bg-blue-700;
    }
    .btn-success {
      @apply text-white bg-green-600 hover:bg-green-700;
    }
  
    .btn-secondary {
      @apply text-white bg-gray-600 hover:bg-gray-700;
    }
  
    .btn-danger {
      @apply text-white bg-red-600 hover:bg-red-700;
    }
  
    .form-group {
      @apply flex flex-col gap-1;
    }
  
    .form-error {
      @apply text-red-600 text-sm font-medium;
    }
  
    .form-label {
      @apply block text-sm font-medium leading-6 text-gray-900;
    }
  
    .form-control {
      @apply w-full py-2 px-3 outline-none border-2 border-gray-200 focus:border-blue-600 rounded-lg;
    }
    .form-control.invalid {
      @apply border-red-300;
    }
    .form-control.valid {
      @apply border-green-300;
    }
  
    .form-select {
      @apply w-full py-2 px-3 outline-none border-2 border-gray-200 rounded-lg;
    }
  }